html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #000;
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #000;
  font-size: 1.2rem;
  color: #555;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

.logo a {
  text-decoration: none;
}

.container {
  width: 60rem;
  max-width: 90vw;
  @media (max-width: 480px) {
    width: 90vw;
  }
  margin: 0 auto;
  padding: 0;
}
header {
  margin: 3rem auto;
  padding: 1.2rem 0;
  width: 60rem;
  max-width: 90vw;
  @media (max-width: 480px) {
    width: 90vw;
  }
  border-bottom: 0.2rem solid #000;
}
nav {
  margin: 0;
  text-align: right;
}
nav a {
  margin: 0 0 0 1.2rem;
  display: inline;
}
footer {
  text-align: right;
}
.logo {
  margin: 0;
  text-align: left;
}
.logo a {
  float: left;
  font-size: 1.8rem;
}
